<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1 th:text="${post?.id} ? '게시글 상세' : '게시글 등록'"></h1>
  </div>
  <br/>
  <form  th:action="@{/post/form}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${post.id}"/>
    <input id="board_create_date" type="hidden" th:value="${post?.createdDate}"/>
    생성 날짜
    <input type="text" class="form-control input-sm" readonly
                 th:value="${post?.createdDate} ?
                                    ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')} :
                                   ${post?.createdDate}"/>
    <br>
    <div>게시물 번호</div> <input name="id" type="text" class="form-control input-sm" readonly
                         th:value="${post?.id}"/>
    <br>
    <div>제목</div> <input name="title" type="text" class="form-control input-sm"
                 th:value="${post?.title}"/>
    <br>
    <div>작성자:</div> <div th:text="${post.userInfo.getEmail()}"> </div>
    <br>
    <div>내용</div> <textarea name="content" class="form-control input-sm"
                    maxlength="140" rows="70" style="height: 200px;"
                    th:text="${post?.content}"></textarea>
          <span class="help-block"></span>
    <div sec:authorize="hasRole('ROLE_TEACHER')" class="pull-right">
      <button  th:if="!${post?.id}" type="submit" class="btn btn-primary" id="insert">
        저장
      </button>
      <form  th:action="@{'/post/update/'+${post.getId()}}" method="PUT" >
      <button th:if="${post?.id}" type="submit" class="btn btn-info" id="update">
        수정
      </button>
      </form>
    </div></form>
  <form action="#" th:action="@{'/post/delete/'+${post.getId()}}" th:method="delete" >
    <input type="hidden" name="_method" value="delete" />
    <button th:if="${post?.id}" type="submit" class="btn btn-danger" id="delete">
      삭제
    </button>
  </form>
  </form>
    <div sec:authorize="hasRole('ROLE_STUDENT')" th:if="${home.getId()}" class="pull-right"> 제출정보
      <a class="card-text" th:href="@{'homework/download/' + ${home.file.getId()}}" th:text="${home.file.getFilename()}"></a>

    <div>코멘트</div> <textarea name="content" class="form-control input-sm"  th:if="${home}" th:text="${home.getContent()}">
                              </textarea>
    </div>
    <div sec:authorize="hasRole('ROLE_STUDENT')" >
        <a th:if="${home.getId()}" th:href="@{'/post/homework/'+${post.getId()}+'/'+${home.getId()}}"> 과제 수정하기 </a>
        <a th:unless="${home.getId()}" th:href="@{'/post/homework/'+${post.getId()}}"  id="insert_homework" > 과제 제출하기</a>
    </div>

    <div sec:authorize="hasRole('ROLE_TEACHER')" >
      <a th:if="${post?.id}" th:href="@{'/post/homework/list/'+${post.getId()}+'/'}"> 제출 과제 확인 </a>
    </div>

  <!-- 목록으로 -->
  <div class="pull-left">
    <a href="/post/list"class="btn btn-success">목록으로</a>
<!--  </div>-->
<!--  <div th:text="${homeList.getSize()}">-->
<!--  </div>-->

</div>
</body>
</html>