<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1>과제 제출</h1>
  </div>
  <br/>
  <form th:action="@{/post/homework}" method="POST" enctype="multipart/form-data">
    <input name="post_id" id="board_id" type="hidden" th:value="${post?.id}"/>
    생성 날짜 <input type="text" class="form-control input-sm" readonly
                 th:value="${post?.createdDate} ?
                                    ${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')} :
                                   ${post?.createdDate}"/>
    <br>
    <div>제목</div> <input name="title" type="text" class="form-control input-sm" readonly
                 th:value="${post?.title}"/>
    <br>
    <div>내용</div> <textarea class="form-control input-sm" readonly
                    maxlength="140" rows="70" style="height: 200px;"
                    th:text="${post?.content}"></textarea>
          <span class="help-block"></span>
    <div class="col-sm-10">
      <div class="custom-file" id="inputFile">
        <input name="upload_file" type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
        <div th:if="${homework.file != null}">
          <strong>첨부파일 : </strong>
          <a class="card-text" th:href="@{'homework/download/' + ${homework.file.getId()}}" th:text="${homework.file.getFilename()}"></a>
          <div>이름</div> <input name="username" type="text" class="form-control input-sm" readonly
                               th:value="${homework.getUserInfo().getUsername()}"/>
          <div sec:authorize="hasRole('ROLE_TEACHER')">
            <div>점수</div> <input name="score" type="text" class="form-control input-sm"
                                 th:value="${homework.score}"/>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div>코멘트</div>
    <textarea name="content" class="form-control input-sm"
                            maxlength="140" rows="70" style="height: 200px;"
                            th:text="${homework?.content}"></textarea>
    <button sec:authorize="hasRole('ROLE_TEACHER')" type="submit" class="btn btn-primary" id="save_score">
      점수 저장
    </button>

    <button sec:authorize="hasRole('ROLE_STUDENT')" type="submit" class="btn btn-primary" id="insert_homework">
        과제 제출
    </button>
  </form>
  <!-- 목록으로 -->
  <div class="pull-left">
    <a th:href="@{'/post/homework/list/'+${post.getId()}+'/'}" class="btn btn-success">목록으로</a>
  </div>
</div>
</body>
</html>