<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<h1>Sign Up</h1> <hr>

<form th:action="@{/user}" method="POST">
    email : <input type="text" name="email"> <br>
    password : <input type="password" name="password"> <br>
    name : <input type="text" name="name"> <br>
    <input type="radio" name="auth" value="ROLE_USER,ROLE_TEACHER"> 교사 <br>
    <input type="radio" name="auth" value="ROLE_USER,ROLE_STUDENT" checked="checked"> 학생 <br>
    <button type="submit">생성</button>
</form> <br>

<a href="/login">Go to login →</a>
</body>
</html>